@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --text-color: #ffffff;
  --primary-color: #3873a6;
  --secondary-color: #4590bf;
  --tertiary-color: #a0c3d9;
  --accent-color: #282d32;
}

body {
    font-family: 'Open Sans', sans-serif;
}
