@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --text-color: #ffffff;
  --primary-color: #3873a6;
  --secondary-color: #4590bf;
  --tertiary-color: #a0c3d9;
  --accent-color: #282d32;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #282d32;
}

/* Start of Navigation Styling */
#site-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  border-bottom: solid rgba(255, 255, 255, .4);
}

#site-nav a {
  color: rgba(255, 255, 255, .8);
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 700;
}

#site-nav li {
  margin-left: 3px;
  margin-right: 3px;
}

#site-nav .nav-link:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.3s;
}

.active {
  border-radius: 20px;
  background-color: #4590bf;
  box-shadow: rgba(45, 45, 203, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.darknav {
  background-color: var(--accent-color) !important;
  position: relative !important;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.admin-return {
  border-radius: 20px;
  background-color: #920808;
  box-shadow: rgba(45, 45, 203, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#site-nav i {
  color: #ffffff;
}

.nav-logo {
  height: 30px;
}

.active a {
  color: rgba(255, 255, 255, 1);
}
/* End of Navigation Styling */

/* Start of about.html Styling */

.about {
  border-radius: 25px;
  background-color: var(--accent-color);
  padding: 20px;
  margin-bottom: 15px;
  color: var(--text-color);
}

/* End of about.html Styling */

/* Start of Landing Image Styling */

.landing-image {
  width: 100%;
  position: fixed;
  z-index: -99;
  height: 100vh;
  overflow: hidden;
  background: url("../media/herb-background.jpg") no-repeat center center fixed;
  animation-name: landing-image-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-size: cover;
}

@keyframes landing-image-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}

#landing-image-outer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-title {
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 0 50px;
  transform: translateY(-50%);
  text-align: center;
}

.header-title h1 {
  font-size: 4em;
  line-height: 1.42857143;
  color: var(--text-color);
  font-weight: 300;
}

.scroll-indicator {
  z-index: 10;
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.scroll-indicator::before {
  animation: bounce 1s ease infinite;
  color: #fff;
  content: '╲╱';
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
/* End of Landing Image Styling */

/* Start of Index.html Styling */
.map {
  height: 500px;
  border-radius: 30px;
  margin-bottom: 40px;
}

#map01 {
  background: url('../media/map01.png') center center no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#map02 {
  background: url('../media/map02.png') center center no-repeat;
  background-size: cover;
}

#map03 {
  background: url('../media/map03.png') center center no-repeat;
  background-size: cover;
}

.mask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* End of Index.html Styling */

/* Start of Monitoring.html Styling */

#monitoring-map {
  background: url("../media/herb-background.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  right: 0;
  left: 0;
  top: 54px;
  bottom: 0;
  height: auto;
  overflow: hidden;
}

#monitoring-items {
  height: 200px;
  width: 150px;
  box-shadow: none;
  display: none;
}

.monitoring-switch {
  background-color: #b5b5b5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: table;
  transition: transform 0.5s;
}

.monitoring-switch:hover {
  transform: translateY(-10%);
  z-index: 10;
}

.monitoring-switch h1 {
  width: 100%;
  display: table-cell;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 800;
  vertical-align: middle;
  text-align: center;
  user-select: none;
}

.bottom-card {
  bottom: 0%;
  z-index: 0;
}

.top-card {
  bottom: 30%;
  left: 35%;
  z-index: 2;
  border: var(--text-color) solid 1px;
}

#flood {
  background: url("../media/flood-card-background.png") no-repeat center center;
  background-size: contain;
}

#traffic {
  background: url("../media/traffic-card-background.png") no-repeat center
    center;
  background-size: cover;
}

.weather-table {
  width: 100%;
}
.weather-table tr {
  border: white 1px solid;
  margin: 5px;
}

#information {
  width: 35%;
  background-color: var(--accent-color);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: center;
  display: none;
  color: var(--text-color);
  padding: 10px;
}

#information h1 {
  margin: 10px;
  font-size: 1rem;
  font-weight: 700;
}
.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  background: var(--accent-color) !important;
  top: 56px !important;
  z-index: 3 !important;
}

.esri-ui .esri-popup {
  z-index: 3 !important;
}

/* End of Monitoring.html Styling */

/* Start of Contact.html Styling */

.contact-container {
  position: relative;
  margin: auto;
  height: 80%;
  width: 100%;
  top: 10%;
  text-align: center;
  color: var(--text-color);
  font-size: 1rem;
}

#contact-logo {
  width: 50%;
  margin: 1rem;
}

.contact-div {
  padding: 2%;
  width: 40%;
  height: 80%;
  background-color: var(--accent-color);
  margin: 5%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact-container p {
  margin-bottom: 2rem;
}

.contact-information {
  float: left;
}

.feedback-form-container {
  float: right;
}

.feedback-form-container input {
  width: 100%;
  margin-bottom: 3%;
  border-radius: 5px;
}

.feedback-form-container textarea {
  width: 100%;
  border-radius: 5px;
}

#enquiry-submit {
  max-width: 50%;
  margin-top: 2%;
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  #contact-logo {
    width: 30%;
  }
  .contact-container p {
    margin-bottom: 0.8rem;
  }
  #name {
    width: 48%;
    float: left;
  }
  #email {
    width: 48%;
    float: right;
  }

  .contact-div {
    width: 80%;
    height: 50%;
    margin: 5% auto;
    font-size: 0.8rem;
  }

  .contact-information {
    float: none;
  }

  .feedback-form-container {
    float: none;
  }
}
/* Start of Footer Styling */
.footer-dark {
  margin-top: 10vh;
  padding: 40px 0;
  color: var(--text-color);
  background-color: var(--accent-color);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 1;
}

.footer-logo-outer {
  margin: 0 auto;
  height: 50%;
  width: 50%;
  margin-bottom: 10px;
}

.footer-logo {
  margin: 0 auto;
  background: url("../media/herb-logo-small.png") center center no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.footer-dark .item.text {
  margin-bottom: 36px;
  margin-top: 36px;
}

.footer-dark .item.text li {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
/* End of Footer Styling */

/* Start of 404.html Styling */
#not-found-container{
  width: 70%;
  margin: 5% auto;
  text-align: center;
  color: var(--text-color);
}

#not-found-logo{
  width: 80%;
}

#not-found-text a{
  color: var(--text-color);
  font-weight: 700;
}
/* End of 404.html Styling */